.messanger {
    height: 100%;
    width: 100%;
    display: none;
}

.users {
    width: 30%;
    background: #17212B;
    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #5387C1
    }
    &__list {
        margin-top: 60px;
        margin-left: 15px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-top: 5px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        margin-right: 9px;
    }
    &__lastmess {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #7F91A4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.chat {
    background: #0E1621;
    width: 70%;
    display: flex;
    flex-direction: column;
    &__info {
        display: flex;
        flex-direction: column;
        margin-left: 2px;
        padding: 13px 0 9px 16px;
        background: #17212B;
    }
    &__people {
        margin-top: 4px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #7F91A4;
    }
    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }
    &__messages {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
    &__inputfield {
        background: #17212B;
        margin-left: 2px;
        padding: 14px 10px 12px 12px;
        display: flex;
        justify-content: space-between;
    }
    &__message {
        flex-grow: 1;
        background: transparent;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        margin-right: 10px;
        border: 0;
        color: #5B6774;
        &:focus {
            outline: none;
        }
    }
    &__submit {
        background: #5387C1;
        border-radius: 5px;
        border: 0;
        padding: 6px 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: white;
    }
    &__message {}
    &__list {
        display: flex;
        flex-direction: column;
        &--my {
            align-items: flex-end;
        }
        &--alien {
            align-items: flex-start;
        }
    }
    &__item {
        padding: 8px 7.5px 4px 15px;
        display: flex;
        &:first-child {
            // transform: matrix(-1, 0, 0, 1, 0, 0);
        }
        &--my {
            position: relative;
            background: #2B5279;
            margin-right: 8px;
            &.chat__first {
                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    right: -12px;
                    bottom: 0;
                    border-top: 25px solid transparent;
                    border-left: 24px solid #2B5279;
                    z-index: 0;
                }
            }
            &:not(.chat__first) {
                margin-right: 41px;
            }
        }
        &--alien {
            position: relative;
            background: #182633;
            margin-left: 8px;
            &.chat__first {
                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: -12px;
                    bottom: 0;
                    border-top: 25px solid transparent;
                    border-right: 24px solid #182633;
                    z-index: 0;
                }
            }
            &:not(.chat__first) {
                margin-left: 41px;
            }
        }
        &--my,
        &--alien {
            border-radius: 5px;
        }
    }
    &__mess {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: white;
        word-break: break-all;
        max-width: 250px;
    }
    &__date {
        margin-top: 13px;
        margin-left: 12px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #7F91A4;
        z-index: 10;
        align-self: flex-end;
    }
    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: #5387C1;
        &--my {
            margin-right: 43px;
        }
        &--alien {
            margin-left: 43px;
        }
    }
    &__img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        align-self: flex-end;
    }
    &__object {
        display: flex;
        align-items: center;
        margin-top: 4px;
        &--alien {
            flex-direction: row-reverse;
        }
    }
}